---
import type { MarkdownHeading } from "astro";
import Categories from "./Categories.astro";
import Profile from "./Profile.astro";
import Tag from "./Tags.astro";
import TOC from "./TOC.astro";
import { siteConfig } from "../../config";

interface Props {
	class?: string;
	headings?: MarkdownHeading[];
}

const className = Astro.props.class;
const { headings = [] } = Astro.props;
const showToc = siteConfig.toc.enable && headings.length > 0;
---
<div id="sidebar" class:list={[className, "w-full"]}>
    <div class="flex flex-col w-full gap-4 mb-4">
        <Profile></Profile>
    </div>
    <div id="sidebar-sticky" class="transition-all duration-700 flex flex-col w-full gap-4 top-4 sticky top-4">
        <Categories class="onload-animation" style="animation-delay: 150ms"></Categories>
        <Tag class="onload-animation" style="animation-delay: 200ms"></Tag>
        <div id="toc" class="transition-swup-fade">
            {showToc && (
                <div class="card-base onload-animation hidden lg:block" style="animation-delay: 250ms">
                    <div class="font-bold transition text-lg text-neutral-900 dark:text-neutral-100 relative ml-8 mt-4 mb-2
                        before:w-1 before:h-4 before:rounded-md before:bg-[var(--primary)]
                        before:absolute before:left-[-16px] before:top-[5.5px]">目录</div>
                    <div id="toc-inner-wrapper" class="toc-scrollbar max-h-[50vh] overflow-y-auto overflow-x-hidden px-2 pb-3">
                        <TOC headings={headings}></TOC>
                    </div>
                </div>
            )}
        </div>
    </div>
</div>
